{% load menu %}


<header class="mt-0 pt-0">
    <div class="bg-cover clearfix pt-3 pb-3">
        <a class="logo" href=" {% url 'index' %}">Cobra<span class="colortext">Py</span></a>
        <!--            <h2 class="logo">Cobra<span class="colortext">Py</span></h2>-->
        <h5 class="logo-text"><q>strike hard strike first no mercy</q></h5>


        <div class="ml-0 mr-0 pb-1">
            <nav class="navbar navbar-expand-md">

                <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
                        aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
                        aria-label="Toggle navigation">
                    <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto">


                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">ГЛАВНАЯ</a>
                        </li>
                        <li class="nav-item">
                                {% show_menu %}
<!--                            <div class="dropdown">-->
<!--                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"-->
<!--                                        data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                    Категории-->
<!--                                </button>-->
<!--                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">-->
<!--                                    <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                                    {% for item in category %}-->
<!--                                    <li class="nav-item">-->
<!--                                        <a class="dropdown-item" href="{{ item.get_absolute_url }}">{{ item.title }}</a>-->
<!--                                    </li>-->
<!--                                    {% endfor %}-->
<!--                                </ul>-->
<!--                            </div>-->
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_post' %}">ДОБАВИТЬ ПОСТ</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">ОБРАТНЯ СВЯЗЬ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Регистрация | Вход</a>
                        </li>




                    </ul>
                </div>
            </nav>
        </div>
    </div>

</header>